name: Actualizar Pluto Colombia
on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Configurar Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Instalar y Ejecutar
        run: |
          cd PlutoIPTV
          npm install request jsontoxml moment fs-extra uuid
          node index.js
          mv playlist.m3u ../playlist.m3u
          mv epg.xml ../epg.xml

      - name: Guardar Cambios
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add playlist.m3u epg.xml
          git commit -m "Lista Pluto CO actualizada $(date)" || exit 0
          git push
